*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* ---- landing page css : START -----*/
.landing-main{
  background-image: url('../public/hero3.jpg');
  height: 93vh;
  margin-top: -50px;
  background-size: cover;
  background-repeat: none;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .div-left{
  font-size:90px ;
  font-weight: bold;
  width: 40%;
 }
 .div-left-inner{
   line-height: 1.1;
   color:orange;
 }
 
 
 .div-left-span{
   color:gray;
   font-size: 80px;
 }
 .div-right{
   width: 40%;
   font-size: 18px;
   color:rgb(180, 175, 175);
 }
 .div-right p{
   font-family: 'Courier New', Courier, monospace;
 }
 .div-right button{
   background-color:transparent;
   border: 0;
   color:orange;
   font-weight: bold;
 }
 
 .div-right button:hover{
   border:2px solid white;
   border-radius: 15px;
   background-color:black;
   color:white;
   font-weight: bold;
 }
 
 
 @media screen and (max-width: 900px){
   .landing-main{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     gap:10px;
   }
   .div-left{
     font-size:50px ;
     font-weight: bold;
     width: 80%;
    }
 
    .div-left-inner img{
     width: 45px;
     height: 45px;
    }
    .div-left-span{
     color:gray;
     font-size: 40px;
   }
 
    .div-right{
     width: 80%;
     font-size: 18px;
     line-height: 1.1;
   }
 }
 
 .login-signup-bg{
   background-image: url('../public/hero3.jpg');
  height: 93vh;
  margin-top: -58px;
  background-size: cover;
  color:white;
}
/* ---------landing page css : END------------ */

/* ------- Expense page CSS : START --------- */
.Expense-main{
  min-height: 90vh;
}

.Expense-inputs{
  display: flex;
  flex-direction: column;
  margin:0 20px;
  gap:20px;
}

.Expense-inputs input[type="date"]:invalid {
  color: red; /* Optionally change the color to indicate invalid state of date */
}

.Expense-details{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.Expense-details-total{
  padding:8px;
  border: 1px solid #dee2e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Expense-details-total h5{
  margin: 0;  /*h5 tag was automatically taking bottom margin 8px */
}
.Expense-details-total input{
  width:30%;
}

/* style for big screen like laptop and desktops */
@media only screen and (min-width: 768px) {

  .Expense-main{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }

  .Expense-inputs{
    display: flex;
    flex-direction: row;
    /* width:51%; */
 }
 
  .Expense-details{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* max-width: 60%; */
    /* justify-content: center; */
    /* margin:20px; */
  }
  
}
/* Expense page CSS : END */